<h1>Students</h1>
<form action="/addStudent">
    <button>Add Student</button>
</form>
<table border="1">
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>GPA</th>
        <th>Action</th>
    </tr>
    <% students.forEach((student)=>{ %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.gpa %></td>
            <td><a href="/"+<%= student.sid %>>Delete</a></td>
        </tr>
    <% }) %>
</table>
<a href="/">Home</a>